%p
  The Hope For Wildlife Society, located in Seaforth, Nova Scotia,
  was founded in 1997.

%p
  Our facility is fully licensed and inspected, with a federal license
  for the rehabilitation of sea birds and a provincial license for the
  rehabilitation of indigenous wildlife.

%p
  We are the only facility in Nova Scotia licensed to rehabilitate
  white tailed deer and large birds of prey.

%p
  To learn more about the Hope for Wildlife Society, please choose a link:

- if @submenus
  #buttons
    - one, two = (@submenus.size == 1 ? [@submenus,[]] : [@submenus[0..(@submenus.size / 2)], @submenus[(@submenus.size / 2 + 1)..-1]])
    #left.span-9
      - one.each do |submenu|
        %a.round{:href => "/pages/#{@page}/#{submenu}"}
          = format_menu_name submenu
    #right.span-9
      - two.each do |submenu|
        %a.round{:href => "/pages/#{@page}/#{submenu}"}
          = format_menu_name submenu
